@layer base {
  /* light */
  :root {
    --background: 0 0% 100%;
    --foreground: 215 14% 16%;

    --card: 220 23% 97%;
    --card-foreground: 215 14% 16%;
    --popover: 220 23% 97%;
    --popover-foreground: 215 14% 16%;

    --muted: 216 13% 92%;
    --muted-foreground: 215 14% 16%;
    --accent: 216 13% 92%;
    --accent-foreground: 215 14% 16%;

    --primary: 212 93% 44%;
    --primary-foreground: 197 100% 96%;
    --secondary: 11 90% 60%;
    --secondary-foreground: 197 100% 96%;

    --destructive: 0 100% 57%;
    --destructive-foreground: 0 100% 97%;
    --success: 169 75% 40%;
    --success-foreground: 162 76% 97%;
    --warning: 32 88% 50%;
    --warning-foreground: 42 100% 96%;

    --chart-primary: 239 84% 67%;
    --chart-secondary: 13 86% 53%;
    --chart-accent: 330 81% 60%;

    --border: 210 18% 87%;
    --input: 210 18% 87%;
    --ring: 210, 18%, 78%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 15% 16%;
    --foreground: 211 18% 73%;

    --card: 215 18% 13%;
    --card-foreground: 211 18% 73%;
    --popover: 215 15% 16%;
    --popover-foreground: 211 18% 73%;

    --muted: 214 14% 19%;
    --muted-foreground: 211, 19%, 74%;
    --accent: 216 12% 25%;
    --accent-foreground: 211 18% 73%;

    --primary: 214 89% 65%;
    --primary-foreground: 226 53% 21%;
    --secondary: 11 90% 68%;
    --secondary-foreground: 11, 75%, 15%;

    --destructive: 0 100% 67%;
    --destructive-foreground: 0 100% 16%;
    --success: 167 73% 60%;
    --success-foreground: 174 80% 10%;
    --warning: 37 92% 55%;
    --warning-foreground: 15 89% 14%;

    --chart-primary: 238 89% 74%;
    --chart-secondary: 15 87% 58%;
    --chart-accent: 330 86% 70%;

    --border: 216 12% 25%;
    --input: 214 13% 22%;
    --ring: 213 14% 22%;
  }
}
