@layer base {
  /* light */
  :root {
    --background: 0 0% 100%;
    --foreground: 216 14% 14%;

    --card: 220 23% 97%;
    --card-foreground: 216 14% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 216 14% 14%;

    --muted: 216 13% 92%;
    --muted-foreground: 216 14% 14%;
    --accent: 216 19% 95%;
    --accent-foreground: 240 100% 2%;

    --primary: 212 93% 44%;
    --primary-foreground: 136 65% 97%;
    --secondary: 11 97% 72%;
    --secondary-foreground: 10 86% 97%;

    --destructive: 0 100% 57%;
    --destructive-foreground: 0 100% 97%;
    --success: 169 75% 40%;
    --success-foreground: 162 76% 97%;
    --warning: 32 88% 50%;
    --warning-foreground: 42 100% 96%;

    --chart-primary: 239 84% 67%;
    --chart-secondary: 13 86% 53%;
    --chart-accent: 330 81% 60%;

    --border: 212 16% 85%;
    --input: 212 16% 85%;
    --ring: 210 18% 78%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 29% 7%;
    --foreground: 210 39% 93%;

    --card: 220 60% 2%;
    --card-foreground: 210 39% 93%;
    --popover: 215 21% 11%;
    --popover-foreground: 210 35% 92%;

    --muted: 220 12% 20%;
    --muted-foreground: 210 39% 93%;
    --accent: 215 15% 15%;
    --accent-foreground: 212 16% 82%;

    --primary: 214 93% 62%;
    --primary-foreground: 222 59% 21%;
    --secondary: 11 90% 68%;
    --secondary-foreground: 11 75% 15%;

    --destructive: 0 100% 67%;
    --destructive-foreground: 0 100% 16%;
    --success: 167 73% 60%;
    --success-foreground: 174 80% 10%;
    --warning: 37 92% 55%;
    --warning-foreground: 15 89% 14%;

    --chart-primary: 238 89% 74%;
    --chart-secondary: 15 87% 58%;
    --chart-accent: 330 86% 70%;

    --border: 215 11% 22%;
    --input: 215 11% 22%;
    --ring: 213 14% 22%;
  }
}
